:root {
    --primary-color: rgb(255, 187, 0);
    --white-color: #ffffff;
    --gray-color: rgb(156, 156, 156);
    --black-color: #000;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: var(--black-color);
    color: var(--gray-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 90vh;
    gap: 20px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonsContainer p:hover {
    opacity: 0.7;
}

.svgNext {
    cursor: pointer;
}

.svgNext :active {
    fill: color-mix(in srgb, var(--gray-color) 70%, transparent);
}

/* Time containr */
.timeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background-color: var(--gray-color);
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: var(--white-color);
    cursor: pointer;
    border-radius: 50%;
}

.buttonPlayPause {
    background-color: transparent;
    cursor: pointer;
    border-color: transparent transparent transparent var(--primary-color);
    transition: 100ms all ease;
    position: relative
}

.buttonPlay {
    border-style: solid;
    border-width: 10px 0 10px 15px;
}

.buttonPause {
    border-style: double;
    height: 15px;
    border-width: 0px 0px 0px 15px;
    border-color: transparent transparent transparent var(--primary-color);
}

.buttonPause::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.volumeContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}